<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">


        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="javascript:void(0);" [routerLink]="['/auth/home']" routerLinkActive="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" [routerLink]="['/auth/project-list']" routerLinkActive="active" class="nav-link">Project List</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" [routerLink]="['/auth/site-list']" routerLinkActive="active" class="nav-link">Site List</a>
                </li>
            </ul>
        </div>

        <!-- Right navbar links -->

    </div>
</nav>