<div class="wrapper">

    <app-landing-header></app-landing-header>

    <div class="content-wrapper" style="margin-left: 1px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Edit Site</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">edit site</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-6 offset-2">

                        <div class="card card-outline card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Edit site</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form [formGroup]="siteForm" (ngSubmit)="onUpdateSite()">
                                <div class="card-body">

                                    <input type="hidden" formControlName="id" #id class="form-control" [(ngModel)]="siteData._id" />

                                    <div class="form-group">
                                        <label>Project Name</label>
                                        <select class="form-control" formControlName="projectName" #projectName [(ngModel)]="siteData.projectName" (change)='onCurrentlySelected(projectName.value)' [ngClass]="{ 'is-invalid': submitted && f.projectName.errors || f.projectName.invalid && (f.projectName.dirty || f.projectName.touched) }">
                                                <option [ngValue]="null" >Select</option>
                                                <option *ngFor="let item of projectList | keyvalue" [ngValue]="item.value.projectName" [selected]="item.value.projectName === siteData.projectName">
                                                    {{item.value.projectName}}
                                                </option>
                                            </select>

                                        <div *ngIf="submitted && f.projectName.errors || f.projectName.invalid && (f.projectName.dirty || f.projectName.touched)" class="invalid-feedback">
                                            <div *ngIf="f.projectName.errors.required">Project is required</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Site Name</label>
                                        <input type="text" formControlName="siteName" class="form-control" [(ngModel)]="siteData.siteName" [ngClass]="{ 'is-invalid': submitted && f.siteName.errors || f.siteName.invalid && (f.siteName.dirty || f.siteName.touched)}" />

                                        <div *ngIf="submitted && f.siteName.errors || f.siteName.invalid && (f.siteName.dirty || f.siteName.touched)" class="invalid-feedback">
                                            <div *ngIf="f.siteName.errors.required">Site Name is required</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label> latitude </label>
                                        <input type="text" formControlName="latitude" class="form-control" [(ngModel)]="siteData.latitude" [ngClass]="{ 'is-invalid': submitted && f.latitude.errors || f.latitude.invalid && (f.latitude.dirty || f.latitude.touched)}" />

                                        <div *ngIf="submitted && f.latitude.errors || f.latitude.invalid && (f.latitude.dirty || f.latitude.touched)" class="invalid-feedback">
                                            <div *ngIf="f.latitude.errors.required">Latitude is required</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label> longitude </label>
                                        <input type="text" formControlName="longitude" class="form-control" [(ngModel)]="siteData.longitude" [ngClass]="{ 'is-invalid': submitted && f.longitude.errors || f.longitude.invalid && (f.longitude.dirty || f.longitude.touched)}" />

                                        <div *ngIf="submitted && f.longitude.errors || f.longitude.invalid && (f.longitude.dirty || f.longitude.touched)" class="invalid-feedback">
                                            <div *ngIf="f.longitude.errors.required">Longitude is required</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
            <!-- /.container-fluid -->


        </section>

    </div>
    <!-- /.content-wrapper -->
</div>